{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}
{% block navigation %}
{% include "thewall/parts/navigation.html" %}
{% endblock %}
<div class="container">
    {% if self.header %}
    {% block header %}
    {% include_block self.header %}
    {% endblock header %}
    {% endif %}
    {% block content %}
    {% with blocks=self.body %}
    {% for block in blocks %}
    {% if block.block_type == 'image' %}
{% image block.value width-900 as tmp_image %}
<img class="img-fluid" src="{{tmp_image.url}}" alt="{{tmp_image.alt}}" />
    <section class="{{block.block_type}}-section mb-3">
        {% include_block block %}
    </section>
    {% endif %}
    {% endfor %}
    {% endwith %}
    {% endblock %}
</div>