.bg-secodary {
    background-color: rgba(255, 255, 255, .75);
}

#comment-waiting {
    line-height: 16px;
}

#comment-waiting img {
    vertical-align: middle;
    padding: 0 4px 0 10px;
}

#comment-added-message,
#comment-thanks {
    padding-left: 10px;
}

.comment-moderated-flag {
    font-variant: small-caps;
    margin-left: 5px;
}

#div_id_honeypot {
    /* Hide the honeypot from django_comments by default */
    display: none;
}


/* ---- threaded comments ---- */

ul.comment-list-wrapper {
    /* to avoid touching our own "ul" tags, our tags are explicitly decorated with a class selector */
    margin-left: 0;
    padding-left: 0;
}

ul.comment-list-wrapper ul.comment-list-wrapper {
    margin-left: 1em;
    padding-left: 0;
}

li.comment-wrapper {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.js-comments-form-orig-position .comment-cancel-reply-link {
    display: none;
}

.comment-item {
    background-color: rgba(255, 255, 255, .75);
    margin-bottom: 1rem;
    border-color: rgba(0, 0, 0, .75);
    border-radius: .5em;
    border-width: .25em;
    font-size: 70%;
    padding: 1rem;
}

.comment-item h4 {
    font-size: 1rem;
    font-variant: all-small-caps;
}