{% load static %}
<header class="masthead mb-auto">
    <div class="inner">
        <h4 class="masthead-brand">{<img class="logo" src="{% static 'assets/logo-inverse.png' %}" alt="nuljon.com logo" />}
            nuljon.com</h4>
    </div>
<nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="/blog">BlogTales</a>
        <a class="nav-link" href="/portfolio">Portfolio</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/contact">Contact</a>
    </nav>
</header>