{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block navigation %}
{% include "thewall/parts/navigation.html" %}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Password changed with success!</h2>
                <p>You may now <a href="{% url 'login' %}">log in</a> again.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}