{% extends 'base.html' %}

{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags wagtailroutablepage_tags %}

{% block content %}
<section class="brick-detail">
    <div class="container-fluid">
        <div class="title">
            <h3>{{ brick.title }}</h3>
        </div>
        <div class="brick">
            {{ brick.content|safe }}
        </div>
        <div class="d-flex flex-wrap justify-content-around">
            <a class="btn btn-secondary active px-2" href="#">view MESSAGE</a>
            <a class="btn btn-secondary px-2" href="/graffiti">view WALL</button></a>
            <a class="btn btn-secondary px-2" href="{% url 'brick_edit' pk=brick.pk %}">edit MESSAGE</a>
        </div>
    </div>
</section> {% endblock %}