{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extra_head %}
{{ form.media }}
{% endblock extra_head %}
{% block content %}
<div class="mt-5 pt-5">

<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>{{ data.user }}'s Profile</h2>
        <div class="row">
            <div class="col-6 px-2 mx-1">
                {% if data.avatar_image %}
<img src="{{ data.avatar_image }}" class="img-fluid" alt="avatar image" />
                {% endif %}
                {{ form.avatar_image|as_crispy_field }}
            </div>
            <div class="col-6 px-2 mx-1">
                <p>Welcome {{ data.user }}. This is your account profile editor. Here you can choose an avatar to
                    visually
                    represent your identity to the community. Also you can create a bio to give others an impression of
                    who you are and maybe how your world intersected with Johnathon's. Use images, write a narrative,
                    feature a video, tell a joke, use a quote, load an audio clip, or make a lay-out using combinations
                    of media, whatever you like. This is a space for you to say something about yourself in whatever
                    form you like. If there is something you wish to do but need us to add some function so you can,
                    please let us know. If we can figure a way, we will make it happen. It's your page with no rules.
                </p>
            </div>
        </div>
        {{ form.bio | as_crispy_field }}

        <button type="submit" class="btn btn-success">Save</button>
</div>
{% endblock %}