{% extends 'base.html' %}
{% load crispy_forms_tags static %}
{% block extra_head %}
{{ form.media }}
{% endblock extra_head %}
{% block navigation%}
{% include 'thewall/parts/navigation.html' %}
{% endblock %}
{% block content %}
<div class="mt-4 pt-4 mb-4">
    <div class="mx-1 my-4">
        <h2><img src="/media/{{ brickmaker.avatar_image }}" class="img-fluid px-2" alt="avatar image" style="width:25%;height:auto;" />
            {{brickmaker.user }}'s Profile Editor</h2>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.user | as_crispy_field }}
        {{ form.avatar_image | as_crispy_field }}
        {{ form.bio | as_crispy_field }}
        <button type="submit" class="btn btn-outline-success">Save</button>
    </form>
    <div class="px-2 mx-1 mb-4">
        <p class="small">It's your page. There are no rules. Here you can: </p>
        <ul>
            <li class="small">choose an avatar image</li>
            <li class="small">add to Johnathon's life story by sharing how he was involved in yours</li>
            <li class="small">Use images, write a narrative, feature a video, tell a joke, use a quote, load an audio
                clip, or combinations of media, whatever you like.</li>
        </ul>
    </div>

</div>
{% endblock %}